<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 col-xl-6 chat">
      <div class="py-5">
        <div class="msg_card_body">
        
        <%# show if there is active workout %>
        <% if @workout.present? %>

          <h1><%= @workout.name %></h1>

          <% @workout.exercises.order(:id).uniq.each do |exercise| %>
            <div class="border border-dark rounded-lg mb-3 p-2">
              <%# set header %>
              <div class="d-flex justify-content-between align-items-center">
                <h5> <%= exercise.name.capitalize %> </h5>
                <%= link_to '', exercise_path(exercise), class: "fas fa-info-circle ml-2 m-3 exercise-button", data: { exerciseid: exercise.id }, style: "text-decoration: none;"%>
              </div>
              <% @workout.workout_sets.where(exercise: exercise.id).order(:id).each_with_index do |workout_set, index| %>
                <%= render "workouts/workout_set", workout: @workout, workout_set: workout_set, index: index %>
              <% end %>
            </div>
            <div class="modal fade" id="instructions-<%= exercise.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content modal-dark">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><strong><%= exercise.name %></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <%= render 'exercises/show', exercise: exercise %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="navbar  navbar-expand" style="justify-content: center;">
            <%= simple_form_for @workout, method: :patch, url: mark_workout_finished_path(@workout) do |f| %>
              <%= f.submit 'Finish Workout', class: "btn btn-primary m-3" %>
            <% end %>
          </div>
        <% else %>
            <%# no current workout, alert user %>
            <div class="border border-dark rounded-lg mb-3 p-2 text-center">
              Looks like you don't have any workouts started. <br>
              Talk to your <%= link_to 'coach', messages_path %> to start a workout!</div>
            </div>
        <% end %>


        </div>
      </div>
    </div>
  </div>

