<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    <h2> Show the chat window here! and the current workout </h2>
    <% @workout.exercises.order(:id).uniq.each do |exercise| %>
      <p> <%= exercise.name.capitalize %> </p>
      <%= link_to 'exercise info', exercise_path(exercise)%>
      <% @workout.workout_sets.where(exercise: exercise.id).order(:id).each_with_index do |workout_set, index| %>
        <%= render "workout_set", workout_set: workout_set, index: index %>
      <% end %>
    <% end %>
    <%= link_to 'finish workout', workout_path(@workout), method: "patch"  %>
    </div>
  </div>
</div>





  <%# <div data-controller="search-exercises">
    <%= form_with url: exercises_path, method: :get, html: { class:
      'mb-4', data: { search_exercises_target: 'form' } } do |f| %>
      <%# f.text_field :query,
                      class: "form-control",
                      placeholder: 'Search Exercise',
                      value: params[:query],
                      data: { search_exercises_target: 'input',
                              action: 'keyup->search-exercises#update'} %>


  <%# TODO, create a list.html.erb to store exercises# %>
  <%# add this code to the list file \/ # %>
  <%# <div data-search-exercises-target="list"> # %>
