
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 col-xl-6 chat">
      <div class="py-5">
        <div class="card-body msg_card_body">
          <h2>Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :profile_pic, as: :file, label: "Upload profile image" %>

            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
      
        </div>
      </div>
    </div>
  </div>
</div>
