<% workout = locals[:workout] %>
<div class = "border border-dark my-1 p-3 rounded-lg workout-card">
  <%= workout.name %>
  <br>
  <% workout.workout_sets.each do |workout_set| %>
  <% end %>
  <% unique_exercises = retrieve_unique_exercises(workout) %>
  <% unique_exercises.each do |exercise| %>
    <%= exercise.name.capitalize  %>:
    <% workout.workout_sets.each do |workout_set| %>
      <% if exercise.id == workout_set.exercise_id  %>
        <span class="badge badge-pill badge-secondary">
          <%= "#{workout_set.weight}kg x #{workout_set.nb_of_reps}" %>
        </span>
      <% end %>
    <% end %>
    <br>
  <% end %>
  Status: <%= locals[:workout].status %><br>
  Notes: <%= locals[:workout].mental_state %><br>
</div>
