<% workout = locals[:workout] %>
<div class = "border border-dark my-3 p-3 rounded-lg">
  <%= workout.day %>
  <br>
  <% workout.workout_sets.each do |workout_set| %>
  <% end %>
  Notes: <%= locals[:workout].mental_state %><br>
  <%# For viewing purposes %>
  <%# Group by date %>
  <%# iterate over the hash Key(date) => value(workouts) %>
  Status: <%= locals[:workout].status %><br>
  <% unique_exercises = retrieve_unique_exercises(workout) %>
  <% unique_exercises.each do |exercise| %>
    <%= exercise.name %>:
    <% workout.workout_sets.each do |workout_set| %>
      <% if exercise.id == workout_set.exercise_id  %>
        <span class="badge badge-pill badge-secondary">
          <%= "#{workout_set.weight}kg x #{workout_set.nb_of_reps}" %>
        </span>
      <% end %>
    <% end %>
    <br>
  <% end %>
</div>
