<% workout = locals[:workout] %>
<div class = "border border-dark my-1 p-2 rounded-lg workout-card">
  <div class="container">
    <% workout.workout_sets.each do |workout_set| %>
    <% end %>
    <% unique_exercises = retrieve_unique_exercises(workout) %>
    <% unique_exercises.each do |exercise| %>
      <i class="fas fa-dumbbell" style="font-size: 11px; color: gray;"></i>
      <%= exercise.name.capitalize %>
      <div class="d-flex">
        <% workout.workout_sets.each do |workout_set| %>
          <% if exercise.id == workout_set.exercise_id %>
            <div class="p-1" style="display: inline-grid !important;">
              <div class="badge badge-light" style="border-radius: 20px 20px 0px 0px;">
                <%=workout_set.nb_of_reps%>
              </div>
              <div class="badge badge-light" style="border-radius: 50px; font-size: 5px; background-color: white; position: relative; top: -4px;">
                <%= "#{workout_set.weight}kg" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div>
      <br>
      <div class="border-top d-flex justify-content-around">
        Status<% if locals[:workout].status == "finished"%>
          <%= image_tag ["Ryu-finished.gif", "Ken-finished.gif", "Ken-thumbs.gif"].sample, class: "gif-size" %>
        <% else %>
          <%=  image_tag ["Ryu-working.gif"].sample, class: "gif-size"%>
        <% end %>
        <% if locals[:workout].mental_state == nil %>
          <p style="opacity: 0.3;">Add Note..</p>
        <% else %>
          Notes: <%= locals[:workout].mental_state %>
        <% end %>
      </div>
    </div>
  </div>
</div>
