<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-8 col-xl-6 chat">
      <% if current_user.workouts.present? %>
        <h2>Today's Workouts</h2>
        <% if @today_workouts.empty? %>
          You have no workouts scheduled for today
        <% else %>
          <%= render "workout_collapse", id:"colapseOne", workouts: @today_workouts %>
        <% end %>
        <h2>Upcoming Workouts</h2>
        <%= render "workout_collapse", id:"colapseTwo", workouts: @upcoming_workouts %>
        <h2>Workout History</h2>
        <%= render "workout_collapse", id:"colapseThree", workouts: @past_workouts %>
      <% else %>
        No workouts yet.
        <%= link_to 'Start New Session', messages_path(new_session: true), class: "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>
<%# <div> %>
<%# <%= workout.day %>
<%# </div> %>
