<%# card_one %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 flex-column m-3">
      <div class="item-drawer">
        <div class="item-drawer-content">
          <div class="row">
            <h2>Exercise Title</h2>
            <h6>Exercise Details</h6>
          </div>
          <div class="row">
            <%= render "shared/set_details" %>
            <%= render "shared/set_details" %>
            <%= render "shared/set_details" %>
            <%= render "shared/set_details" %>
            <%= render "shared/set_details" %>
          </div> 
        </div>
        <div class="item-drawer-button">
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="item-drawer-settings">
          <a href="#"><i class="fas fa-edit"></i></a>
          <a href="#"><i class="fas fa-trash"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<%# card_two %>
