<div class="navbar sticky-top navbar-expand navbar-custom">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag 'logotext.svg', class: 'nav-logo-text' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "", workout_path(1), class: "fas fa-dumbbell m-2" %>
        </li>
        <li class="nav-item">
          <%= link_to "", dashboard_path, class: "fas fa-chart-pie m-2" %>
        </li>
        <li class="nav-item">
          <%= link_to "", "#", class: "fas fa-cog m-2" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
