
<%# ACCEPTS FOLLOWING ARGUMENTS FROM "LOCALS" %>
<%# message (string) - content of the message from the AI %>
<div class="message-card mb-4">
  <div class="message-card-body">
  <% workout = locals[:workout] %>
  <h3><%= workout.name %> (45min)</h3>

  <%# get unique exercises from the workout for looping %>
  <% unique_exercises = retrieve_unique_exercises(workout) %>

  <ol>
  <% unique_exercises.each do |exercise| %>
    <li><%= exercise.name %><br>
        <% workout.workout_sets.each do |workout_set| %>
          <% if exercise.id == workout_set.exercise_id  %>
            <span class="badge badge-pill badge-secondary">
              <%= "#{workout_set.weight}kg x #{workout_set.nb_of_reps}" %>
            </span>
          <% end %>
        <% end %>
    </li>
  <% end %>
  </ol>

    Why AI Recommended:<br>
    <span class="badge badge-pill badge-primary">Focus Muscle Size Increase</span>
    <span class="badge badge-pill badge-primary">Safe on elbows</span>
    <span class="badge badge-pill badge-primary">Avoids barbell rack</span>
    <br>
    Est. Duration: 45 min
    <hr>
  <%= button_to "Accept this workout", workouts_path(template_workout: @template_workout), method: :post, class: 'btn btn-primary' %>

  <span class="msg_time"><%= time_ago_in_words(locals[:created_at]) %> ago</span>
  </div>
</div>
