<%# ACCEPTS FOLLOWING ARGUMENTS FROM "LOCALS" %>
<%# message (string) - content of the message from the AI %>

    <% workout = locals[:workout] %>
      <% if workout.exercises.first && workout.exercises.first.photo.attached? %>
         <div class="message-card mb-4 workout-card-presentation" style="background-image: url(<%= cl_image_path(locals[:workout].exercises.first.photo.key) %>)">
      <% else %>
         <div class="message-card mb-4 workout-card-presentation" style="">
      <% end %>
    <h5><%= workout.name %></h5>
    <!-- <h5> <%= workout.routine_tags.capitalize if workout.routine_tags.present? %> Routine (45min)</h5> -->
    <!-- <span class="badge badge-pill badge-primary"><%= workout.workout_template.name %></span><br> -->

    <%# get unique exercises from the workout for looping %>

    <p><%= workout.pros_and_cons %></p>
    <hr>
    
    <div class="w-100 text-center">
    <% workout.workout_sets.each_with_index do |workout_set, index| %>
    <span class="badge badge-pill badge-primary">Set <%= "#{index+ 1}" %></span>
    <%= "#{workout_set.weight} kg x #{workout_set.nb_of_reps}" %>
      <br>
    <% end %>
    </div>
    
     <hr>
    <%= button_to "Start Workout", workouts_path(template_workout: workout), method: :post, class: 'btn btn-outline-primary btn start-button w-100' %>
    <span class="msg_time"><%= time_ago_in_words(locals[:created_at]) %> ago</span>
</div>
