<% exercise = @exercise if @exercise %>

<div class="container">
  <div class="row">
    <div class="col-12 centered">
      <div>
      </div>
      <h3><%= "#{exercise.muscle_list}"%></h3>
      <%#=  muscle list wont let me Capitalize, just best to update seeds  %>
      <p style="font-size: 12px;">This is how to perform the exercise. First, you must Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam obcaecati esse at soluta veritatis nemo magni sapiente commodi reiciendis incidunt? Vero, cupiditate sit totam aliquid atque modi similique distinctio quia.</p>
    </div>
  </div>
  <%= "-Current weight is #{current_user.weight_history.last}kg" %> <br>
  <%="-Lets add #{current_user.user_increment.first}kg to your set?💪"%>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Last Week
        </div>
        <div class="card-body">
          <p class="d-flex" style="font-size: 10px; position: absolute; top:74px; left:21px; color: #b7b7b7;">(Kg)</p>
          <canvas
            data-controller="chart"
            data-chart-data-value="<%= @chart_data_weekly.to_json %>"
            data-chart-options-value="<%= @chart_options.to_json %>"
            ></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Last Month
        </div>
        <div class="card-body">
          <p class="d-flex" style="font-size: 10px; position: absolute; top:74px; left:21px; color: #b7b7b7;">(Kg)</p>
          <canvas
            data-controller="chart"
            data-chart-data-value="<%= @chart_data_monthly.to_json %>"
            data-chart-options-value="<%= @chart_options.to_json %>"
            ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<%# <div class="container">
  ___________Done, needs path/form for user_____________
  <br>
  <br>
  best seat position
  <br>
  <br>
  where to grip the barbell
  <br>
  <br>
  <h3><%= "#{@exercise.user_notes}"%> <%#=   User notes goes here</h3>
  etc.
</div> %>
