<div class="container">
  <div class="row">
    <div class="col-6 centered">
      <p>this is how to perform the exercise!</p>
      <h3>Reccomended reps</h3>
      <br>
      <h3><%= "#{@exercise.name}"%> - Here goes instructions</h3>
      <br>
      <h3><%= "#{@exercise.muscle_list}"%></h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Last Week
        </div>
        <div class="card-body">
          <p class="d-flex" style="position: absolute; top:198px; left:3px; color: #b7b7b7;">Kg</p>
          <canvas
            data-controller="chart"
            data-chart-data-value="<%= @chart_data_weekly.to_json %>"
            data-chart-options-value="<%= @chart_options.to_json %>"
            ></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Last Month
        </div>
        <div class="card-body">
          <p class="d-flex" style="position: absolute; top:198px; left:3px; color: #b7b7b7;">Kg</p>
          <canvas
            data-controller="chart"
            data-chart-data-value="<%= @chart_data_monthly.to_json %>"
            data-chart-options-value="<%= @chart_options.to_json %>"
            ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  see isntructions on how to perform exercise, how to prepare for exercise,
  <br>
  <br>
  ________Done, This is the user's incremenented weight, not recommended__________
  <br>
  <%= "Current weight is #{current_user.weight_history.last}kg, Add #{current_user.user_increment.last}kg to your set"%>
  <br>
  <br>
  ___________Done, needs path/form for user______________
  <br>
  <br>
  best seat position
  <br>
  <br>
  where to grip the barbell
  <br>
  <br>
  <h3><%= "#{@exercise.user_notes}"%> - User notes goes here</h3>
  etc.
</div>
